<%- include('./layout.ejs') %>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="card">
                <!-- <form action="/save" method="POST" id="form_solicitud"  enctype="multipart/form-data"> -->
            <form action='/solicitudes' method="POST" id="form_solicitud">
                <!-- <form id="form_solicitud"> -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="color: #0d6efd;">Pre-Solicitud de Crédito</h2>
                            <!-- <img src='assets/img/logo.png' style='height: 80px;width: 80px;/*padding: 10px;*//*margin: 10px;*/float: right;'> -->
                        </div>
                        &nbsp; &nbsp;
                        <hr>
                        &nbsp; &nbsp; 
                        <div class="row">
                            <span>Tipo de Cliente:</span>
                            <br>
                            <div class="col-md-3">
                                <label class="form-check-label">
                                    <label>Persona Física</label> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type='radio'  value="fisica" id="r_fisica" name="cliente[tipo]">                                            
                                </label> 
                            </div>
                            <div class="col-md-6">
                                <label class="form-check-label">
                                    <label>Persona Moral</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio"  value="moral"  name="cliente[tipo]" id="r_moral">
                                </label> 
                            </div>
                            &nbsp;                                        
                        </div>
                        <hr>
                        <div id="div_fisica">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nombre(s)</label>
                                    <input type="text" class="form-control" id="i_nombre" name="cliente[fisica][nombre]" required  >
                                </div>
                                <div class="col-md-4">
                                    <label>Apellido Paterno</label>
                                    <input type="text" class="form-control" id="i_paterno" name="cliente[fisica][paterno]" required >
                                </div>
                                <div class="col-md-4">
                                    <label>Apellido Materno</label>
                                    <input type="text" class="form-control" id="i_materno" name="cliente[fisica][materno]" required >
                                </div>
                            </div>
                        </div>
                        <div id="div_moral" style='display:none;'>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre o Razon Social</label>
                                    <input type="text" class="form-control" id="i_razon_social" name="cliente[moral][razon_social]">
                                </div>
                                <div class="col-md-6">
                                    <label>Nombre del Representante Legal</label>
                                    <input type="text" class="form-control" id="i_representante" name="cliente[moral][representante]" >
                                </div>
                                <!--  -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>R.F.C</label>
                                <input type="text" class="form-control" id="i_rfc"  name="cliente[rfc]" required>
                            </div>
                            <div class="col-md-4" id="div_curp">
                                <label for="i_curp">CURP</label>
                                <input type="text" class="form-control" id="i_curp" name="cliente[fisica][curp]" required >
                                <label for="i_curp" class="error"></label>
                            </div>
                        </div>
                        
                        <!-- personas morales  -->
                        <div class="row">
                            <div class="col-md-7">
                                <label>Correo Electrónico</label>
                                <input type="email" class="form-control" id="i_email"  name="cliente[email]"  placeholder='ejemplo@email.com'required >
                            </div>
                            <div class="col-md-5">
                                <label>Núm de celular</label>
                                <input type="text" class="form-control" id="i_celular_fisico" name="cliente[celular]" required >
                            </div>
                        </div>
                        <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <hr>
                            <h3 style='color:#0d6efd;'>Domicilio</h3>
                        <hr>
                        <div id="div_domicilio">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Calle</label><br>
                                    <input type="text" class="form-control" id="i_domicilio"  name="domicilio[calle]" style="WIDTH: 760px;"  >
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Num.interior</label><br>
                                            <input type="text"class="form-control" id="i_interior" name="domicilio[interior]" style="WIDTH: 106px;" >
                                        </div>
                                        <br>
                                        &nbsp;
                                        <div class="col-md-3">
                                            <label>Num.Exterior</label><br>
                                            <input type="text" class="form-control" id="i_exterior"  name="domicilio[exterior]" style="WIDTH: 100px;" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Colonia</label><br>
                                    <input type="text"  class="form-control" id="i_colonia"  name="domicilio[colonia]"  style="WIDTH: 760px;"  >
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>C.P</label><br>
                                            <input type="text" class="form-control" id="i_c_postal"  name="domicilio[c_postal]" style="WIDTH: 106px;" required >
                                        </div>
                                        <br>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Población</label><br>
                                    <input type="text" class="form-control" id="i_poblacion"   name="domicilio[poblacion]"  style="WIDTH: 760px;" required >
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <label>Estado</label><br>
                                    <select class="form-control" id="s_estado"style="width: 100%;"  name="domicilio[estado]"  required>
                                        <option value=""disabled selected>Seleccione un Estado</option>  
                                        <option value='Aguascalientes'>Aguascalientes</option> 
                                        <option value='Baja_California'> Baja California </option> 
                                        <option value='Baja_California_Sur'>Baja  California Sur</option> 
                                        <option value='Campeche'>Campeche</option>  
                                        <option value='Chiapas'>Chiapas</option>  
                                        <option value='Chihuahua'>Chihuahua</option>  
                                        <option value='Ciudad_de_México'>Ciudad de México</option>  
                                        <option value='Coahuila' >Coahuila</option> 
                                        <option value='Colima'>Colima</option>  
                                        <option value='Durango'>Durango</option>  
                                        <option value='Guanajuato' >Guanajuato</option> 
                                        <option value='Guerrero' >Guerrero</option> 
                                        <option value='Hidalgo' >Hidalgo</option> 
                                        <option value='Jalisco' >Jalisco</option> 
                                        <option value='México' >México</option> 
                                        <option value='Michoacán' >Michoacán</option> 
                                        <option value='Morelos'  >Morelos</option>
                                        <option value='Nayarit' >Nayarit</option> 
                                        <option value='Nuevo_León' >Nuevo León</option> 
                                        <option value='Oaxaca' >Oaxaca</option> 
                                        <option value='Puebla' >Puebla</option> 
                                        <option value='Querétaro'>Querétaro</option>  
                                        <option value='Quintana_Roo'>Quintana Roo</option>  
                                        <option value='San_Luis_Potosí' >San Luis Potosí</option> 
                                        <option value='Sinaloa' >Sinaloa</option> 
                                        <option value='Sonora' >Sonora</option> 
                                        <option value='Tabasco' >Tabasco</option> Tabasco
                                        <option value='Tamaulipas' >Tamaulipas</option> 
                                        <option value='Tlaxcala' >Tlaxcala</option> 
                                        <option value='Veracruz' >Veracruz</option> 
                                        <option value='Yucatán' >Yucatán</option> 
                                        <option value='Zacatecas'>Zacatecas </option>                                               
                                    </select>   
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Municipio</label><br>
                                    <input type="text" class="form-control" id="i_municipio"  name="domicilio[municipio]"style="WIDTH: 760px;" required >
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <h2 style="color: #0d6efd;">Documentación</h2>
                        <hr>
                        <div id="div_doc_fisicos">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="ine">Identificacion Oficial (INE).</label> 
                                    <input   class="form-control"  type='file' name="ine_fisico"  id="i_ine_fisico" accept=".pdf"  data-errors-position="outside" > 
                                </div>
                                <div class="col-md-4">
                                    <label for="ine">Buro de Crédito</label> 
                                    <input class="form-control"  type='file' name="buro_fisico"  id="i_buro_fisico"  accept=".pdf"  data-errors-position="outside" >                                                        
                                </div>
                                <div class="col-md-4">
                                    <label for="ine">Comprobante de Domicilio</label> 
                                    <input   class="form-control"  type='file' name="comprobante_domicilio"  id="i_comprobante_fisico"  accept=".pdf"  data-errors-position="outside" >                                                        
                                </div>
                            </div>
                        </div>
                        <div id="div_doc_morales" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="ine">Constancia de Situación Físcal</label> 
                                    <input   class="form-control"  type='file' name="situacion_fiscal"  id="i_constancia_fiscal" accept=".pdf"  data-errors-position="outside" > 
                                </div>
                                <div class="col-md-4">
                                    <label for="ine">Identificacion Oficial del Representante (INE). </label> 
                                    <input   class="form-control"  type='file'name="ine_reprecentante"  id="i_ine_moral" accept=".pdf"  data-errors-position="outside" >                                                        
                                </div>
                                <div class="col-md-4">
                                    <label for="ine">Formato Consulta Buró de Credito</label> 
                                    
                                    <input  class="form-control"  type='file' name="buro_moral" id="i_buro_moral" accept=".pdf"  data-errors-position="outside" >                                                        
                                </div>
                            </div>
                        </div>
                        <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <hr>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="i_aviso" checked>
                                    <label class="form-check-label" for="i_aviso">
                                        Acepto los terminos y condiciones del
                                    </label> &nbsp;<a href="">Aviso de privacidad</a>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-1">
                                <button class="btn btn-primary"  id="btn_guardar" >Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#r_fisica').trigger('click');
        $('#form_solicitud').validate();

        //-  _fisica
        $('#i_nombre').val('');
        $('#i_paterno').val('');
        $('#i_materno').val('');
        $('#i_rfc_fisica').val('');
        $('#i_curp').val('');
        $('#i_email_fisico').val('');
        $('#i_celular_fisico').val('');
        //-  moral
        $('#i_razon_social').val('');
        $('#i_rfc_moral').val('');
        $('#i_representante').val('');
        $('#i_email_moral').val('');
        $('#i_celular_moral').val('');
        //- domicilio
        $('#i_calle').val('');
        $('#i_interior').val('');
        $('#i_exterior').val('');
        $('#i_colonia').val('');
        $('#i_c_postal').val('');
        $('#i_poblacion').val('');
        $('#i_municipio').val('');
        
        //- Select de estado y municipio
        $('#s_estado').val('').trigger('change');
        //- $('#s_municipio').val('').trigger('change');

        //- documentos  fisicos
        $('#i_ine_fisico').val('');
        $('#i_buro_fisico').val('');
        $('#i_comprobante_fisico').val('');

        //- documentos  Morales
        $('#i_constancia_fiscal').val('');
        $('#i_ine_moral').val('');
        $('#i_buro_moral').val('');


        $('#r_fisica').click(function(){
            if($(this).is(':checked')) {  
                $('#div_fisica').css('display', '');
                $('#div_curp').css('display', '');
                $('#div_doc_fisicos').css('display', '');
                $('#div_moral').css('display', 'none');
                $('#div_doc_morales').css('display', 'none');
            }
        });

        $('#r_moral').click(function(){
            if($(this).is(':checked')) {  
                $('#div_fisica').css('display','none');
                $('#div_curp').css('display', 'none');
                $('#div_doc_fisicos').css('display', 'none');
                $('#div_moral').css('display', '');
                $('#div_doc_morales').css('display', '');
            }
        });



        

        
       
    });
</script>

